<div class="login-wrap">
  <div class="login content-wrap">
    <app-owl [pwdFocus]="isPwdFocus"></app-owl>
    <h2 class="login-title">APP后台管理</h2>
    <form nz-form [formGroup]="validateFormLogin" class="login-form" (ngSubmit)="_submitFormLogin()">
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="username" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="validateFormLogin.controls.username.dirty&&validateFormLogin.controls.username.hasError('required')">请输入您的用户名!</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'" (nzFocus)="owlEffectOn()"
            (nzBlur)="owlEffectOff()">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="validateFormLogin.controls.password.dirty&&validateFormLogin.controls.password.hasError('required')">请输入您的密码!</div>
        </div>
      </div>

      <div class="login-form-btn" nz-form-item>
        <div nz-form-control>

          <!-- <label class="login-form-remember" nz-checkbox  [(ngModel)]="isRemember" (ngModelChange)="_console($event)" formControlName="remember">
            <span>记住密码</span>
          </label> -->
          <a class="login-form-forgot" class="login-form-forgot">忘记密码</a>

          <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isLoading">登录</button>
          <span>还没有帐号，</span><a [routerLink]="['/register']" routerLinkActive="active">马上注册</a>
        </div>
      </div>
    </form>
  </div>
</div>
