<div class="login-wrap">
  <div class="login">
    <label for="">
      <input type="text" placeholder="用户名">
    </label>
    <label for="">
      <input type="password" placeholder="密码">
    </label>
    <label for="">
      <input type="text" placeholder="二维码">
    </label>
    <div class="login-btn-wrap">
      <button class="login-btn">登录</button>
    </div>
    <div class="login-note-wrap">
      如果您还没有帐号，点这里<a routerLink="/register" routerLinkActive="active">「立即注册」</a>
    </div>
  </div>
</div>
