@import '../../../styles/variables.scss';
:host ::ng-deep .home-wrap {
  height: 100%;
}

:host ::ng-deep .logo {
  height: 64px;
  background: $color-brand;
  border-bottom: 1px solid map-get($colorful, light-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .myapp-logo {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    font-size: 24px;
    color: $color-brand;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .myapp-desc {
    
  }
}

 :host ::ng-deep .ant-layout-sider-collapsed .nav-text {
  display: none;
}

 :host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

 :host ::ng-deep .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

 :host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

 :host ::ng-deep .trigger:hover {
  color: $color-brand;
}

.home-sider-wrap {
  background-color: $color-brand;
}

.home-wrap {
  .home-menu-title {
    font-size: 24px;
    color: map-get($colorful, light-white);
    text-align: center;
    font-weight: initial;
  }
  .home-menu {
    background-color: initial;
    border-right: none;
    >li {
      font-size: 16px;
      color: map-get($colorful, light-white);
      &.ant-menu-item-selected {
        color: $color-brand !important;
      }
    }
  }
}

.home-main-wrap {
  background-color: #e2f2fc;
  .home-header-wrap {
    background: map-get($colorful, light-white);
    padding: 0;
  }
  .home-content-wrap {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    .home-breadcrumb-wrap {
      margin: 12px 0;
    }
    .home-content {
      flex: 1;
      padding: 24px;
      margin: 24px 0;
      background: map-get($colorful, light-white);
      ;
      min-height: 100%;
    }
  }
  .home-footer {
    text-align: center;
    background-color: map-get($colorful, light-white);
    ;
    padding: 12px;
    font-size: 16px;
  }
}
