<nz-layout class="home-wrap">
  <nz-sider class="home-sider-wrap" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">

    <div class="logo">
      <div class="myapp-logo">YY</div>
      <!-- <div class="myapp-desc">我的app后台</div> -->
    </div>


    <ul class="home-menu" nz-menu [nzMode]="isCollapsed?'vertical':'inline'">

      <li nz-menu-item *ngFor="let item of navList;let idx = index;" (click)="navClick(idx, item)">
        <span>
          <i class="anticon anticon-file" [ngClass]="item.icon"></i>
          <span class="nav-text">{{item.name}}</span>
        </span>
      </li>

    </ul>
  </nz-sider>
  <nz-layout class="home-main-wrap">

    <nz-header class="home-header-wrap">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>

    <nz-content class="home-content-wrap">
      <!-- <nz-breadcrumb class="home-breadcrumb-wrap">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <div class="home-content">
        <!-- Bill is a cat. -->
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer class="home-footer">CYY ©2017 Implement By Angular
      <span>v1.0.0</span>
    </nz-footer>
  </nz-layout>
</nz-layout>
